<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Diver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{28,78}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{28,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>Diver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{46,86}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,86}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>Diver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>Diver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{50,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>Diver5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{40,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{40,72}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Divers1.png</string>
            <key>size</key>
            <string>{54,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:816d948813e221abb3cf8160fd0a92e0:1e5eb23a656511daaf5f9245d2574f5d:5e21b05b63639bff1fba623b7ab84848$</string>
            <key>textureFileName</key>
            <string>Divers1.png</string>
        </dict>
    </dict>
</plist>
